@page "/CreateStory"
@using PathTalesFront.Model
@inject HttpClient Http


<PageTitle>Crée une histoire | PathTales</PageTitle>

<h3 class="text-center m-5">Inscription</h3>

<form class="w-50 container">
    <div class="form-group">
        <label>Nom de l'hitoire'</label>
        <input type="text" class="form-control" @bind="storyName">
    </div>

    <div class="form-group">
        <select class="form-select" aria-label="Choisier une categorie">
            <option value="1">Romantique</option>
            <option value="2">Aventure</option>
            <option value="3">Tragedie</option>
        </select>
    </div>

    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" @bind="description">
    </div>

    <button type="submit" class="btn btn-primary mt-1">Publier</button>
</form>

@code {

    /*
     * Pour chaque hitoire
     * Titre
     * Categorie
     * Description
     * 
     */
    private string storyName;
    private string description;
    private int categorie;
    private string email;
    private string password;

}
}
