@page "/createStory"
@using PathTalesFront.Model
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>Crée une histoire | PathTales</PageTitle>

<h3 class="text-center m-5">Créer une histoire</h3>

<form class="w-50 container" @onsubmit="CreateNewStory">
    <div class="form-group">
        <label>Nom de l'histoire</label>
        <input type="text" class="form-control" @bind="title">
    </div>

    <div class="form-group">
        <label>Catégorie</label>
        <select class="form-select" @bind="categories">
            <option value="romantique">Romantique</option>
            <option value="aventure">Aventure</option>
            <option value="tragédie">Tragédie</option>
        </select>
    </div>

    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" @bind="description">
    </div>

    <button type="submit" class="btn btn-primary mt-1">Publier</button>
</form>

@code {
    private string title;
    private string description;
    private string categories;
    private string userId = "6937d291226c3c3438840eb2";

    private async Task CreateNewStory()
    {
        var data = new CreateStoryRequest
            {
                Title = title,
                Description = description,
                UserId = userId,
                Categories = [categories],
            };

        Console.WriteLine(data.Title);
        var response = await Http.PostAsync("http://localhost:5038/Story", JsonContent.Create(data));

        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("Histoire créée !");
            Navigation.NavigateTo("/profile");
        }
        else
        {
            var msg = await response.Content.ReadAsStringAsync();
            Console.WriteLine("Erreur : " + msg);
            Console.WriteLine("Status Code: " + response.StatusCode);
        }
    }
}
