@page "/"
@inject HttpClient Http

<PageTitle>Home | PathTales</PageTitle>

<h1 class="text-center m-5">Bienvenue sur PathaTales !</h1>


<form class=" w-50 container">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
    </form>

    @code
    {
    }

