@page "/"
@inject HttpClient Http

<PageTitle>Home | PathTales</PageTitle>

<h1 class="text-center m-5">Bienvenue sur PathaTales !</h1>


<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form class="d-flex">
                <div class="input-group">
                    <input class="form-control form-control-lg" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary px-4" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="mt-5 d-flex row">
        <div class="row">
            @if (story == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {

                @foreach (var item in story)
                {
                    <div class="card m-4 col-6" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-text">@item.Description</p>
                            <p class="card-text">Categorie : @item.Categories</p>
                            <a href="#" class="btn btn-primary">Lire</a>
                        </div>
                    </div>
                }

            }
        </div>
    </div>
</div>

    @code
{
    private Story[]? story;
    private string id = "6937d291226c3c3438840eb2";
    protected override async Task OnInitializedAsync()
    {
        story = await Http.GetFromJsonAsync<Story[]>($"http://localhost:5038/Story/");
        //var storyfilter = story.Where(s => s.Categories)
    }

    public class Story
    {
        public string Id { get; set; }

        public string Title { get; set; }

        public string Description { get; set; }

        public string UserId { get; set; }

        public List<string> Paragraphs { get; set; } = null;

        public string Status { get; set; }

        public List<string> Categories { get; set; } = null;

        public int ReadCount { get; set; }

        public List<Rating> ratings { get; set; } = null;
    }

    public class Rating
    {
   
        public string UserId { get; set; } = string.Empty;

        public int Score { get; set; } = 1;
    }

    }

