@page "/login"
@using PathTalesFront.Model
@inject NavigationManager Navigation
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using Newtonsoft.Json
 
<PageTitle>Login | PathTales</PageTitle>

<h3 class="text-center m-5">Connection</h3>

<form class="w-50 container" @onsubmit="HandleLogin">
    <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" @bind="email">
    </div>

    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" @bind="password">
    </div>

    <button type="submit" class="btn btn-primary mt-1">Submit</button>
</form>

@code {
    private string email;
    private string password;

    private async Task HandleLogin(EventArgs e)
    {

        var loginData = new LoginRequest
        {
            Email = email,
            Password = password
        };

        var response = await Http.PostAsJsonAsync("http://localhost:5038/User/login", loginData);

        if (response.IsSuccessStatusCode)
        {
            var responseContent = await response.Content.ReadAsStringAsync();
            var result = JsonConvert.DeserializeObject<LoginResponse>(responseContent);

            if (result != null)
            {
                await startSession(result.UserId, result.Token);
                Navigation.NavigateTo("/");
            }
            else
            {
                Console.WriteLine("Erreur : réponse du serveur invalide");
            }
        }
        else
        {
            Console.WriteLine("Erreur de login : " + response.StatusCode);
        }
    }

    public class LoginResponse
    {
        public string UserId { get; set; }
        public string Token { get; set; }
    }


    private async Task startSession(string userId, string token)
    {
        var session = new { UserId = userId, Token = token };
        await localStorage.SetItemAsync("session", session);
    }

}
